In [4]:
#tuple of items
items = (23,67,'apple','banana',True,45.3)
print(items)

(23, 67, 'apple', 'banana', True, 45.3)

In [5]:
# list
items = [23,67,'apple','banana',True,45.3]
print(items)

[23, 67, 'apple', 'banana', True, 45.3]

In [6]:
#set if items
items = {23,67,'apple','banana',True,45.3}
print(items)

{True, 67, 'apple', 'banana', 45.3, 23}

In [7]:
student ={
    "name" : "john",
    "age" : "23",
    "gender" : "male",
    "address" : "123 main st"
}
print(student)

{'name': 'john', 'age': '23', 'gender': 'male', 'address': '123 main st'}

In [8]:
a = 2456.7865
type(a)

float

there are two ways to take input 
- direct assigning values in a variable 
- taking input from the user

In [9]:
a = "hello"
print(a)

hello

In [2]:
a = input("enter a number:")
print(a)

a

In [4]:
a = input("enter a number:")
b = input("enter a another number")
a1 = int(a) #type casting - convert string to integer
b1 = int(b)
print(a1+b1)

14