. how to declare it
. how to acess key and values 
. how to use loops in dictionary
. indexing in dictionary

In [12]:
student ={
    'name' : 'khushi singh',
    'age' : 19, 
    'class' : '12th'
}
print(student)

{'name': 'khushi singh', 'age': 19, 'class': '12th'}

In [13]:
temp = {
    'lucknow' :[25,30,35],
    'delhi' :[30,35,40],
    'mumbai' :[35,40,45]
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [14]:
info = dict(name="john", age=18, rollno=12, marks=60)
print(info)

{'name': 'john', 'age': 18, 'rollno': 12, 'marks': 60}

In [2]:
info2 = dict(name = input("enter name:"), age = int(input("enter age:")),
rollno = int(input("enter rollno:")), marks = int(input("enter marks:")))
print(info2)

{'name': 'khushi', 'age': 18, 'rollno': 65, 'marks': 98}

In [13]:
# 1st method to acess value its key
print(student['name'])
print(info2['age'])

khushi singh
21

In [14]:
# 2nd method to acess value its key
print(info2.get('name'))
print(info2.get('marks'))

john
87

In [15]:
# to add items in a dictionary 
student['city'] = 'lucknow'
print(student)

{'name': 'khushi singh', 'age': 19, 'class': '12th', 'city': 'lucknow'}

In [16]:
print(student.keys())
print(student.values())

dict_keys(['name', 'age', 'class', 'city'])
dict_values(['khushi singh', 19, '12th', 'lucknow'])

In [17]:
for k in student:
    print(k)

name
age
class
city

In [21]:
for k,v in student.items():
    print(k,v)

name khushi singh
age 19
class 12th
city lucknow

In [4]:
company = {
    "emp001" :{
        "name":"khushi",
        "age":20,
        "dept": 'HR'
    },
    "emp002" :{
        "name":"saurabh",
        "age":25,
        "dept":'IT'
    },
    "emp003":{
        "name":"tommy",
        "age":"17",
        "dept":'Finance'
    }
}
print(company)

{'emp001': {'name': 'khushi', 'age': 20, 'dept': 'HR'}, 'emp002': {'name': 'saurabh', 'age': 25, 'dept': 'IT'}, 'emp003': {'name': 'tommy', 'age': '17', 'dept': 'Finance'}}

In [6]:
from pprint import pp
pp(company)

{'emp001': {'name': 'khushi', 'age': 20, 'dept': 'HR'},
 'emp002': {'name': 'saurabh', 'age': 25, 'dept': 'IT'},
 'emp003': {'name': 'tommy', 'age': '17', 'dept': 'Finance'}}

In [8]:
print(company["emp002"]["age"])

25

In [16]:
print(temp["lucknow"][1])
print(temp["delhi"][2])

30
40

In [21]:
print(sum(temp['delhi'])/len(temp['delhi']))

35.0